.cart-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    width: 1100px;
    height: 600px;
    margin: 50px auto 0;
}

.cart-list{
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px gray;
    padding: 10px 8px;
    img{
        width: 100%;
        height: 270px;
        object-fit: contain;
    }
    h3{
        margin-top: 15px;
    }
    p{
        color: #4c4c4c;
        margin-top: 7px;
        font-size: 15px;
    }
}
.purchase-action{
    margin-top: 15px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .purchase-btn{
        padding: 6px 70px;
        border: 1px solid #000;
        border-radius: 5px;
        background: transparent;
        color: #000;
        font-size: 18px;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            background-color: #000;
            color: #fff;
        }
    }
    strong{
        font-size: 19px;
        font-weight: 700;
    }
}

.icons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 9px;
    i{
        font-size: 18px;
        color: gold;
    }
}

.remove-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    border: none;
    background: transparent;
    color: #000;
    font-size: 24px;
}