@mixin f-style($fSize, $color, $fWeight){
    font-size: $fSize;
    color: $color;
    font-weight: $fWeight;
}
header{
    width: 100%;
    height: auto;
}

.hero__navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 20px;
    width: 100%;
    height: 40px;
    background-color: #000000;
    .hero__nav-icons{
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 10px;

        i{
            color: gold;
             font-size: 17px;
            }
    }
    p{
        color: #fff;
        font-size: 18px;
    }
}



.hero__banner{
    width: 100%;
    // max-width: 1300px;
    margin: 0px auto 0;
}
// SWIPERS STYLE

.hero-swiper{
    height: 560px !important;

}
.swiper-card{
    width: 100%;
    margin: auto;
  img{
    width: 100% !important;
    height: 560px !important;
    object-fit: cover !important;
  }
}




  

  