.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  max-width: 450px;
  margin: 50px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  h1{
    text-align: center;
    color: #fff;
  }
}





/* Input style */
.form-control {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  &::placeholder{
    color: #fff;
  }
  
  
  outline: none;
  &:focus{
    box-shadow:  0 0 5px  #fff;
  }
}
input[type=number]::-webkit-inner-spin-button{
  appearance: none;
}

/* Submit button style */
.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Submit button hover style */
.submit-btn:hover {
  background-color: #0056b3;
}