@mixin f-style($fSize, $color, $fWeight){
    font-size: $fSize;
    color: $color;
    font-weight: $fWeight;
}
main{
  width: 1200px;
  height: 500px;

  margin: 100px auto 0;
}

.main-title{
  width: 100%;
  text-align: center;
  h3{
    font-family: none;
    font-size: 33px;
    color: var(--primary-color);
  }
  a{
    font-size: 17px;
  }
}


.swiper {  
  width: 100%;
  height: 450px;
}
.slide-card{
  text-align: center ;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 330px;
  height: 300px;
  font-family: none;
  margin-top: 40px;
  img{
    width: 190px;
    height: 190px;
  }
  p{
    width: 140px;
    font-size: 18px;
    margin: 14px auto 0;
    line-height: 26px;
  }

}



