.about__card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto 0;
    width: 100%;
    column-gap: 1rem;
}

.about-card{
    width: 100%;
    max-width: 640px;
    height: 100%;
    img{
        width: 100%;
         height: auto;
        object-fit: contain;
    }
}

@media only screen and (max-width: 780px) {
    .about__card-container{
        margin-top: 30px;
        column-gap: .4rem;
    }
    .about-card{
        img{
            object-fit: cover !important;
        }
    }
}
@media only screen and (max-width: 532px) {
    .about__card-container{
        margin-top: 30px;
        column-gap: .4rem;
        row-gap: .5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-card{
        width: 100%;
        max-width: 500px !important;
        height: fit-content;
        img{
            max-width: 500px !important;
            width: 100% !important;
            height: fit-content !important;
        }
    }
}

@media only screen and (max-wdith:450px){
    .about__card-container{
        row-gap: 0 !important;
    }
    
}