// @import "./scss/reset";
@import "./scss/fonts";
@import "./scss/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-color: #fff;
    --black-color: #000;
    --primary-color: #302aaf;
}

a{
    text-decoration: none;
}