:root{
    --light-color: #fff;
    --smoke-color: #a6a2a2;
    --primary-color: #302aaf;
    --primary-bold-color: #21165e;
    --warning-color: #ffc800;
    --poppins-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --afacad-font: 'Afacad', sans-serif;
    --roman-font: 'Gideon Roman', serif;;
}