@mixin f-style($fSize, $color, $fWeight){
    font-size: $fSize;
    color: $color;
    font-weight: $fWeight;
}
footer{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    height: auto;
}
.footer-menu{
    display: flex;
    align-items: center;
    gap: 140px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
        li{
            @include f-style(16px, #000, 500);
            list-style-type: none;
        }
    }
}

.footer-action{
    width: 350px;
    .number{
        @include f-style(20px, #000, 500);
    }
    p{
        margin-top: 10px;
    }
}
.email-action{
    display: flex;
    height: 50px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 6px;
    margin-top: 20px;
    &:focus {
        box-shadow: 0 0 5px gray;
    }
    input{
        @include f-style(19px, #000 , 400);
        border: none;
        outline: none;
        height: 100%;
        flex: 1;
        text-indent: 10px;
    }
    button{
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 100%;
        padding: 0px 20px;
        background: #000;
        @include f-style(20px, #fff, 500);
    }
}
.flags{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin-left: 80px;
    margin-top: 50px;
}

.copy-right{
    text-align: center;
    margin-top: 56px;
    h3{
       @include f-style(22px, #5b24c9, 500);
    }
    p{
        @include f-style(20, #666666, 400 )
    }
}