@mixin f-style($fSize, $color, $fWeight){
    font-size: $fSize;
    color: $color;
    font-weight: $fWeight;
}
footer{
    width: 100%;
    margin-top: 10px;
    padding: 2.5rem 0;
    background-color:rgba(33, 22, 94, 1) ;
}
.responsive__footer-wrapper{
    display: none;
}
.footer__menu-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    list-style-type: none;
    li:first-child{
        color: #fff;
        font-size: 20px;
        &:hover{text-decoration: none !important; cursor: auto !important; opacity: 1;}
    }
    li{
        transition: 0.2s;
        font-size: 16px;
        color: rgba(191, 198, 254, 1);
        &:hover{
            cursor: pointer !important;
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}

.footer__action-container{
    display: flex;
    justify-content: flex-end;
    margin: 60px auto 0;
    width: 100%;
}
.form__action{
    h4{
        font-size: 28px;
        color: #fff;
    }
    p{
        width: 450px;
        font-size: 16px;
        color: #fff;
        margin-top: 17px;
    }
    form{
        margin-top: 18px;
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 3px;
        overflow: hidden;
        input{
            outline: none;
            border: none;
            text-indent: 10px;
            font-size: 17px;
            flex: 1;
            height: 100%;
        }
        button{
            height: 100%;
            border: none;
            padding: 0px 20px;
            color: #000;
            font-size: 17px;
            font-weight: 600;
            background-color: var(--warning-color);
            cursor: pointer;
        }
    }

}

// RESPONSIVE STYLES

@media only screen and (max-width:940px){
    .footer__action-container{
        display: none;
    }
    .footer__menu-container{
        display: none;
    }
    .responsive__footer-wrapper{
        display: block;
        width: 100%;
    }
    .menu-dropdown{
        margin-top: 1rem;
        width: 100%;
        border-bottom: 2px  solid #59595ab6;
        padding-bottom: 14px;
        .dropdown-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
                color: var(--light-color);
                cursor: auto;
                font-weight: 500;
            };
            i{
                color: var(--light-color);
                font-size: 13px;
                font-weight: 700;
            }
        }
    }
    .dropdown__menu-items{
            list-style-type: none;
            display: flex;
            margin-top: 12px;
            flex-direction: column;
            row-gap: 10px   ;
            .item-link{
                text-decoration: none;
                color: #bfc6fe;
                font-size: 15px;
                transition: .2s;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
    }
}

@media only screen and (max-width: 350px){
    .menu-dropdown{
        .dropdown-header{
            h3{
                font-size: 15px;
            }
        }
    }
    .dropdown__menu-items{
        .item-link{
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 227px){
    .menu-dropdown{
        .dropdown-header{
            h3{
                font-size: 14px;
            }
        }
    }
    .dropdown__menu-items{
        .item-link{
            font-size: 13px;
        }
    }
}